ipython==3.1.0
matplotlib==1.4.3
mock==1.0.1
netCDF4==1.1.1
numpy==1.9.2
pybtex==0.18
pybtex-docutils==0.2.1
scipy==0.15.1
Sphinx==1.2.3
sphinx-rtd-theme==0.1.6
sphinxcontrib-bibtex==0.3.2a0
